* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1, h2 {
    color: darkslateblue;
}

.title {
    height: 40px;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
}


p,
li {
    font-size: 18px;
    display: table;
    margin:0px auto 0px auto;
    list-style-type: disc;
}

strong {
    color: teal;
}

a{
    text-decoration: none;
}