* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.opening {
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white; 
}

.Download {
    font-size: 16px;
    color: aquamarine;
}